<html>
    <head lang="en">
        <meta charset="UTF-8">
    <title>INVOICE DELETED</title>
    <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=view&id=1jjhDnX3tIAtRkBU_fUzQNF1yn49OYsdh">
    <style>
     h1 {
       text-align: center;
       display: block;
       border: 1px black;
       background-color: grey;
       
     }
     img {
       text-align: center;
       
     }
     h2 {
       text-align: center;
     }
     
     body {
       text-align: center;
       background-color:rgb(187, 87, 73);

     }

     table, th, td {
        margin-left: auto; 
        margin-right: auto;
        text-align: left;
        }
     
     </style>
  </head>
<body>
    <h1><img src=" https://drive.google.com/uc?export=view&id=1_d2XtM4F7MGepwXL-eMrpOq4_5rvoNoe" alt="PRIKAWAY" width="50",height="50"> PRIKAWAY PRIVATE LIMITED GURUGRAM</h1>
    <p align="right"><a href="/homepage">Homepage</a></p>
    <h2><b>{{result}}</b></h2>
    
 </body>
</html>