<html>
    <head lang="en">
        <meta charset="UTF-8">
    <title>ENTER STUDENT INVOICE DETAILS</title>
    <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=view&id=1jjhDnX3tIAtRkBU_fUzQNF1yn49OYsdh">
    <script language="JavaScript">
        function showMessage(){
    
            document.getElementById('display_message').innerHTML ='DELETED INVOICE# '+ document.getElementById('bill_no').value+ "FROM DATABASE";
        }
    </script>
    <style>
     h1 {
       text-align: center;
       display: block;
       border: 1px black;
       background-color: grey;
       
     }
     img {
       text-align: center;
       
     }
     h2 {
       text-align: center;
     }
     
     body {
       text-align: center;
       background-color:rgb(187, 87, 73);

     }

     table, th, td {
        margin-left: auto; 
        margin-right: auto;
        text-align: left;
        }
     
     </style>
  </head>
<body>
    <form action = "/delete_invoice_confirmed" method = "POST">
    <h1><img src=" https://drive.google.com/uc?export=view&id=1_d2XtM4F7MGepwXL-eMrpOq4_5rvoNoe" alt="PRIKAWAY" width="50",height="50"> PRIKAWAY PRIVATE LIMITED GURUGRAM</h1>
    <h2>ENTER DETAILS TO DELETE INVOICE</h2>
    <table>    
        <tr><td><b>Bill No.</b>
        <td><input type ="text" name = "bill_no" id='bill_no' required /></td></tr>
        <tr><td><b>Date</b></td>
        <td><input type ="date" name = "date_of_purchase" id='date_of_purchase' /></td></table></tr>
        <tr><td><b>Class&emsp;  </b></td>
        <td><input type ="number" name = "class" id="class" required /></td></table></tr>
     </table>
    <p><input type = "Submit" value = "DELETE INVOICE"  /></p>
</form>
<br>
<h3>&#9888; WARNING: THIS ACTION IS IRREVERSIBLE. INVOICE WILL BE DELETED FROM DATABSE. IF DONE BY MISTAKE THEN CREATE A NEW INVOICE WITH SAME DETAILS</h3>

 </body>
</html>