<html>
    <head>
        <title>Homepage</title>
        <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=view&id=1jjhDnX3tIAtRkBU_fUzQNF1yn49OYsdh">
        <style>
            h1 {
              text-align: center;
              display: block;
              border: 1px black;
              background-color: darkblue;
              color: white;
              
            }
            img {
              text-align: center;
              
            }

            body {
           text-align: center;
           background-color:rgb(173, 226, 170);

         }

            </style>
    </head>
    <body>
        <h1 align="center"><img src=" https://drive.google.com/uc?export=view&id=1_d2XtM4F7MGepwXL-eMrpOq4_5rvoNoe" alt="PRIKAWAY" width="50",height="50"> PRIKAWAY PRIVATE LIMITED GURUGRAM</h1>
        <h5 align="right">WELCOME {{ sync_user['username'] }}</h4>
        <p align="right"><a href="/logout">Logout</a></p>
        <h2>WHAT WOULD YOU LIKE TO DO TODAY</h2>
        <p><a href="/input">ENTER DETAILS AND PRINT STUDENT INVOICE</a></p>
        <p><a href='/delete_invoice_input'>DELETE STUDENT INVOICE</a></p>
        <p><a href='/change_invoice_status_input'>CHANGE STUDENT INVOICE STATUS AS TC/LEAVE</a></p>
        <p><a href='/search_invoice'>VIEW STUDENT INVOICE</a></p>
        <p><a href='/principal_bill'>GENERATE BILL FOR PRINCIPAL</a></p>
        <p><a href='/cover_page_input'>GENERATE COVER PAGES</a></p>
        <p><a href='/inventory_input'>ENTER INVENTORY</a></p>
        <p><a href='/inventory_view'>VIEW INVENTORY</a></p>
        <p><a href='/inventory_modify'>MODIFY INVENTORY</a></p>
        {% if sync_user['school_id'] == 2 %}
        <p><a href='/select_raashan_tender'>ENTER DETAILS AND PRINT RAASHAN BILL</a></p>
        {% endif %}
        <p><a href='/analytics'>LOOKER DASHBOARD</a></p>
    </body>
</html>