<html>
  <head>
    <title>Prikaway Private Limited::Login</title>
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/BbHwVwx1/logo.png">
    <style>
        h1 {
          text-align: center;
          display: block;
          border: 1px black;
          font-size: 3vmax;
        }

        body  {
       text-align: center;
       background-color:rgb(111, 51, 146);
       height: 100%;
       background-image: url("https://i.postimg.cc/Y9CNQLsL/pItFRM.jpg");
       background-size: cover;
       color: white;

     }

 
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
    <h1><img src="https://i.postimg.cc/BbHwVwx1/logo.png" alt="PRIKAWAY" ></h1>
      <h1>PRIKAWAY PRIVATE LIMITED GURUGRAM</h1>
      <br>
      <h2>Enter Login Details</h2>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>