<html>
    <head>
        <title>LOOKER DASHBOARD</title>
        <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=view&id=1jjhDnX3tIAtRkBU_fUzQNF1yn49OYsdh">
        <style>
        body {
            text-align: center;
        
          }    

        </style>
    </head>
<iframe 
width="1500" 
height="2728" 
src="https://lookerstudio.google.com/embed/reporting/7c229a32-5b87-4f8f-bf17-f36016408de5/page/s4OYD" 
frameborder="0" 
style="border:0" allowfullscreen></iframe>
<br>
<br>
<form action="/homepage">
    <input type="submit" value="Go to Homepage" />
</form>  
</html>