<html>
    <head>
        <title>LOOKER DASHBOARD</title>
        <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/BbHwVwx1/logo.png">
        <style>
        h1 {
              text-align: center;
              display: block;
              border: 1px black;
              background-color: darkblue;
              color: white;
              
            }
            img {
              text-align: center;
              
            }

            body {
           text-align: center;
           background-color:rgb(7, 232, 239);

         } 

        </style>
    </head>
    <body>
      <h1 align="center"><img src="https://i.postimg.cc/BbHwVwx1/logo.png" alt="PRIKAWAY" width="50",height="50"> PRIKAWAY PRIVATE LIMITED GURUGRAM</h1>
    <p align="right"><a href="/homepage">Homepage</a></p>
    <h2><a href="https://lookerstudio.google.com/reporting/7c229a32-5b87-4f8f-bf17-f36016408de5" target="_blank">CLICK HERE TO ACCESS LOOKER DASHBOARD</a></h2>
    </body> 
    </html>