<html>
    <head>
        <title>SELECT TENDER</title>
        <style>
            h1 {
              text-align: center;
              display: block;
              border: 1px black;
              background-color: rgb(218, 42, 42);
              color: white;
              
            }
            img {
              text-align: center;
              
            }

            body {
           text-align: center;
           background-color:rgb(90, 187, 111);

         }

            </style>
    </head>
    <body>
        <form action = "/input_raashan_details" method = "POST">
        <h1 align="center"><img src=" https://drive.google.com/uc?export=view&id=1_d2XtM4F7MGepwXL-eMrpOq4_5rvoNoe" alt="PRIKAWAY" width="50",height="50"> PRIKAWAY PRIVATE LIMITED GURUGRAM</h1>
        <h1 align="center">SELECT TENDER</h1>
        <input type="radio" id="raashan_bill" name="tender" value="1">
        <b><label for="raashan_bill">Raashan Bill</label></b><br><br><br>
        <input type="radio" id="non_veg" name="tender" value="2">
        <b><label for="non_veg">Non-Veg Bill</label></b><br><br><br>
        <input type="radio" id="fruits_veg" name="tender" value="3">
        <b><label for="fruits_veg">Fruits & Vegetable Bill</label></b><br><br><br>
        <p><input type = "Submit" value = "Submit" /></p>
    </form>
    </body>
</html>