<html>
    <head lang="en">
        <meta charset="UTF-8">
    <title>SUCCESS</title>
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/BbHwVwx1/logo.png">
    
    <style>
     h1 {
       text-align: center;
       display: block;
       border: 1px black;
       background-color: grey;
       
     }
     img {
       text-align: center;
       
     }
     h2 {
       text-align: center;
     }
     
     body {
       text-align: center;
       background-color:rgb(206, 17, 33);

     }

     table, th, td {
        margin-left: auto; 
        margin-right: auto;
        text-align: left;
        }
     
     </style>
  </head>
<body>
  <h1 align="center"><img src="https://i.postimg.cc/BbHwVwx1/logo.png" alt="PRIKAWAY" width="50",height="50"> PRIKAWAY PRIVATE LIMITED GURUGRAM</h1>
  <p align="right"><a href="/homepage">Homepage</a></p>
    <h2><b>STOP! OPERATTION NOT ALLOWED</b></h2>
    <h2><b>YOU ARE TRYING TO MODIFY A PRODUCT/STOCK THAT IS NOT PRESENT IN THE INVENTORY</b></h2>
    <h2><b>PLEASE USE THE OPTION ENTER INVENTORY TO ENTER NEW STOCK FIRST AND THEN LATER ON IF YOU HAVE MADE A MISTAKE WHILE ENTERING THE STOCK THE USE MODIFY INVENTORY OPTION</b></h2>   
    <img src="https://i.pinimg.com/736x/cb/b1/bb/cbb1bb23a44bb65f93818f225afd9e91.jpg">
  </body>
</html>